.header {
  background: url("img/banner_1.png");
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

#navbarNav a {
  font-size: 16px;
  font-weight: 700;
  font-weight: 800px !important;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: black;
}

#navbarNav a:hover {
  background-color: yellow;
  border-radius: 15px;
}
